h3, h4 {
  text-align: left;
}
.form-inner {
  padding: 40px;
  width: 70%;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.form-inner input {
  width: 70%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
}
button {
  width: 30%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
  background: #5a7233;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
button:hover {
  background: #3e4f24;
}
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
}
#loader {
  width: 100%;
  height: 100%;
  background: slategrey;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#loaded {
  width: 100%;
  height: 100%;
  background: slategrey;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
}
#loadingContainer {
  width: 30%;
  height: 2rem;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 6px;
  margin: 0.5rem;
}
#loadingBar {
  height: 100%;
  background: green;
  border-radius: 6px;
}
p {
  color: white;
  background: none;
  margin-bottom: 1rem;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 2rem;
}
